*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: outfit;
    text-decoration: none;
    background-color: #000814;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #000814;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 40px 0 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    background-color: #000814;
    left: 0;
    z-index: 9999;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: #ffc300;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text{
    font-family: outfit;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
}


nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;    
}

nav .togglebtn span{
    display: block;
    background-color: #ffc300;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    display: inline-block;
}

nav .navlinks li a{
    color: #ffc300;
    margin-right: 2.5rem;
    font-family: outfit;
    font-weight: bold;
    transition: transform .5s;
}

nav .navlinks li a:hover{
    color: #fff;
    text-decoration: underline;
    /*transform: scale(1.2);*/
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    /*border: 15px solid #001d3d;*/
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
    margin-top: 15%;
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.input{
    color: #ffc300;
    font-family: outfit;
    font-size: 32px;
    font-weight: bold;
}

.hero-text h1{
    color: #ffc300;
    font-size: 3rem;
    font-family: outfit;
}

.hero-text h3{
    color: #e5e5e5;
    font-family: outfit;
}

.hero-text h4{
    color: #ffc300;
    font-size: 3rem;
    font-family: outfit;
}

.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
    font-family: outfit;
}

.hero-text p{
    color: #e5e5e5;
    font-family: outfit;
    font-size: 18px;
}

/*.btn-group{
    margin: 45px 0;
}*/

.btn-group .btn{
    border-color: #ffc300;
    color: #000;
    font-weight: bold;
    background-color: #ffc300;
    padding: 12px 25px;
    margin: 2pc 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #ffc300;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    transition: background-color 1s;
}

.btn-group .btn:hover{
    background-color: #000814;
    color: #fff;
    border: 2px solid #ffc300;
}

.btn-group .btn.active:hover{
    background-color: #000814;
    color: #fff;
    border: 2px solid #ffc300;
}

.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: #ffc300;
    transform: rotate(360deg);
}

.hero-text .social-contact i{
    color: #e5e5e5;
    font-size: 70px;
    margin-right: 45px;
    transition: 0.5s;
}

.hero-text .social-contact i:hover{
    color: #ffc300;
    transform: rotate(360deg);
}

.container .contact{
    background-color: #000814;
    display: flex;
    flex-direction: column;
}

.contact input, textarea{
    color: #000;
    width: 100%;
    background-color: #e5e5e5;
    padding: 12px 25px;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 15px;
}

.contact .social{
    margin-bottom: 50%;
}

.inner{
    padding-top: 20px;
}

.header{
    font-family: outfit;
    font-size: 3rem;
    color: #ffc300;
    text-align: center;
    padding: 1rem;
}

.container-skills h1{
    text-align: center;
}

#skills{
    position: relative;
    z-index: 0;
}

.card{
    cursor: grab;
}

.card img{
    max-width: 100%;
    height: auto;
}


/*Responsiveness*/
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /*for toggle button**/
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #000814;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        padding: 25px;
    }

    nav .navlinks li{
        display: block;
    }

    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open{
        right: 0;
    }
}

@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 10px 0px;
    }

    .container .hero-text .contact{
        padding: 10px 0px;
        flex-direction: column;
        padding-top: 2rem;
    }
    .container-skills{
        flex-direction: column;
        padding-top: 2rem;
        margin: 25%;
    }
}
